<ion-header>
  <ion-toolbar>
    <ion-title>rate-answers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedQuestion && ownUser">
  <h2>{{selectedQuestion.question}}</h2>
  <form [formGroup]="rateAnswerForm" (ngSubmit)="rateAnswer()">
    <ion-list>
      <div formArrayName="answers" *ngFor="let answer of answers.controls; let i = index">
        <ng-container [formGroupName]="i">
          <ion-label>{{answerByIndex(i).value}}</ion-label>
          <ion-select formControlName="userID">
            <div *ngFor="let user of users">
              <ion-select-option *ngIf="user.id !== ownUser.id" value="{{user.id}}"
                >{{user.username}}</ion-select-option
              >
            </div>
          </ion-select>
        </ng-container>
      </div>
      <ion-item>
        <ion-button type="submit">Join</ion-button>
      </ion-item>

    </ion-list>
</form>
</ion-content>
