<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="ion-padding-end" slot="end">
      <ion-text color="danger">
        <countdown
          class="countdown"
          [config]="{leftTime:20, format: 'ss'}"
          (event)="onCountDownDone($event)"
        ></countdown>
      </ion-text>
    </ion-buttons>
    <ion-title>Rate Answer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedQuestion && ownUser">
  <h2 class="ion-padding-horizontal">{{selectedQuestion.question}}</h2>
  <form [formGroup]="rateAnswerForm" (ngSubmit)="rateAnswer()">
    <div
      formArrayName="answers"
      *ngFor="let answer of answers.controls; let i = index"
    >
      <ion-card>
        <ng-container [formGroupName]="i">
          <ion-card-header>
            <h4>
              <ion-label>{{answerByIndex(i).value}}</ion-label>
            </h4>
          </ion-card-header>
          <ion-card-content>
            <ion-select formControlName="userID" placeholder="Select player">
              <div *ngFor="let user of users">
                <ion-select-option
                  *ngIf="user.id !== ownUser.id"
                  value="{{user.id}}"
                  >{{user.username}}</ion-select-option
                >
              </div>
            </ion-select>
          </ion-card-content>
        </ng-container>
      </ion-card>
    </div>
  </form>
</ion-content>
