// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #d95032;
  --ion-color-primary-rgb: 217, 80, 50;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #bf462c;
  --ion-color-primary-tint: #dd6247;

  --ion-color-secondary: #f2b077;
  --ion-color-secondary-rgb: 242, 176, 119;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d59b69;
  --ion-color-secondary-tint: #f3b885;

  --ion-color-tertiary: #a6633c;
  --ion-color-tertiary-rgb: 166, 99, 60;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #925735;
  --ion-color-tertiary-tint: #af7350;

  --ion-color-success: #6bd930;
  --ion-color-success-rgb: 107, 217, 48;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #5ebf2a;
  --ion-color-success-tint: #7add45;

  --ion-color-warning: #d9b230;
  --ion-color-warning-rgb: 217, 178, 48;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #bf9d2a;
  --ion-color-warning-tint: #ddba45;

  --ion-color-danger: #d93030;
  --ion-color-danger-rgb: 217, 48, 48;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bf2a2a;
  --ion-color-danger-tint: #dd4545;

  --ion-color-dark: #261e07;
  --ion-color-dark-rgb: 38, 30, 7;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #211a06;
  --ion-color-dark-tint: #3c3520;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f2f2f2;
  --ion-color-light-rgb: 242, 242, 242;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d5d5d5;
  --ion-color-light-tint: #f3f3f3;

  --ion-background-color: #ecf0f1;
}
