<ion-header>
  <ion-toolbar>
    <ion-title>view-lobby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Lobby Code: {{lobbyCode}}</h2>
  <div>
    <h2>Players</h2>
    <ion-list>
      <ion-item>
        <ion-label>Marc-Andre</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ter Stegen</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-button size="large" color="danger">Leave</ion-button>
  <ion-button
    size="large"
    color="primary"
    [disabled]="!isHost"
    (click)="onStartGame()"
    >Start</ion-button
  >
</ion-content>
