<ion-header>
  <ion-toolbar>
    <ion-title>join-lobby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="joinLobbyForm" (ngSubmit)="onJoin()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Your Name</ion-label>
        <ion-input formControlName="username" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Lobby Code</ion-label>
        <ion-input formControlName="code" placeholder="Code"></ion-input>
      </ion-item>
    </ion-list>
    <div>
      <h3>Nearby Lobbies...</h3>
      <p>To be added</p>
    </div>
    <ion-button [disabled]="!joinLobbyForm.valid" type="submit">Join</ion-button>
  </form>
</ion-content>
