<ion-header>
  <ion-toolbar>
    <ion-title>scoreboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Lobby Code: {{lobbyCode}}</h2>

  <div *ngIf="lobby">
    TODO: Implement
    <ion-list>
      <ion-card *ngFor="let guess of guesses; let i = index">
        <ion-card-header>{{guess.answer}}</ion-card-header><br/>
        <ion-card-content>
          <ngx-charts-bar-horizontal
            [view]="[500,300]"
            [results]="guess.data"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [yAxis]="true"
          >
          </ngx-charts-bar-horizontal>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
