<ion-header>
  <ion-toolbar>
    <ion-title>scoreboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Lobby Code: {{lobbyCode}}</h2>

  <div *ngIf="lobby">
    <ion-list>
      <ion-card *ngFor="let guess of guessChart; let i = index">
        <ion-card-header>{{guess.answer}}</ion-card-header><br />
        <ion-card-content>
          <ngx-charts-bar-horizontal
            [view]="guess.dimensions"
            [results]="guess.data"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [showDataLabel]="true"
            [xScaleMax]="guess.data.length"
            [yAxis]="true"
            [customColors]="guess.color"
          >
          </ngx-charts-bar-horizontal>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-button
      *ngIf="user.isHost"
      size="large"
      color="primary"
      (click)="nextQuestion()"
      >Start</ion-button
    >
  </div>



</ion-content>
