<ion-header>
  <ion-toolbar>
    <ion-title>answer-question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Lobby Code: {{lobbyCode}}</h2>
  <div *ngIf="currentQuestion">
    <form [formGroup]="answerQuestionForm" (ngSubmit)="onAnswerQuestion()">
      <ion-list>
        <ion-item>
          <ion-label>{{currentQuestion.question}}</ion-label>
          <ion-input formControlName="answer" placeholder="Answer"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
