<ion-header>
  <ion-toolbar>
    <ion-title>answer-question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Lobby Code: {{lobbyCode}}</h2>
  <div *ngIf="lobby">
    <form [formGroup]="answerQuestionForm" (ngSubmit)="onAnswerQuestion()">
      <countdown
        [config]="{leftTime:20}"
        (event)="onCountDownDone($event)"
      ></countdown>
      <ion-list>
        <ion-item>
          <ion-label>{{questions[lobby.index].question}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea
            formControlName="answer"
            placeholder="answer"
          ></ion-textarea>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
