<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Answer</ion-title>
    <ion-buttons class="ion-padding-end" slot="end">
      <ion-text color="danger">
        <countdown
          class="countdown"
          [config]="{leftTime:20, format: 'ss'}"
          (event)="onCountDownDone($event)"
        ></countdown>
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-padding-horizontal">Lobby Code: {{lobbyCode}}</h2>
  <div *ngIf="lobby">
    <form [formGroup]="answerQuestionForm" (ngSubmit)="onAnswerQuestion()">
      <ion-card>
        <ion-card-header>
            <h4>
              <ion-label>{{questions[lobby.index].question}}</ion-label>
            </h4>
        </ion-card-header>
        <ion-item>
          <ion-textarea
            formControlName="answer"
            placeholder="answer"
          ></ion-textarea>
        </ion-item>
      </ion-card>
    </form>
  </div>
</ion-content>
