<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Guess What </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onUpdateQuestions()">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button expand="block" (click)="onCreateLobby()">Create</ion-button>
    <ion-button expand="block" (click)="onJoinLobby()">Join</ion-button>
  </div>
</ion-content>
